.App {
  text-align: center;
  background-image: url(../../Background/PizzaBackgroundTwo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#next-btn {
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: 10%;
  height: 8%;
  background-color: lightblue;
  border: darkblue 2px solid;
  border-radius: 10px;
}



            
