#container-div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10%;
    
}

#customer-info{
    background-color: #c0bebf88;
    width: 40%;
}

#table-div {
    display: flex;
    background-color: #c0bebf88;
    width: 40%;
    justify-content: center;   
}

td{
    padding: 5px;
}